

i.fa.fa-map-marker {
  width: 10px;
  height: 10px;
}
.img-thumbnail {
  height: 50px;
  width: 130px;
}
.card-body {
  padding: 0;
  background-color: #343a40;
}
h4.card-header.bg-dark.text-white {
  padding: 12px;
}
a.btn.btn-raised.btn-danger {
  height: 32px;
  width: 32px;
  padding: 5px;
}
.justify-content-center {
  width: 98%;
  margin-left: 1%;
}
.alert.alert-warning, .alert.alert-primary {
  height: auto;
  width: 100%;
  margin-bottom: 6px;
  padding: 0;
}
.alert.alert-warning, .btn.btn-warning {
  background-color: rgb(236, 102, 52);
}
.alert.alert-primary {
  background-color: #3485ef;
}
.alert.alert-danger {
  background-color: #dc3545;
}
.col-4.society {
  padding: 7px 0 7px 2px;
  color: #fff;
}
.col-8.society {
  padding: 7px 0 7px 0;
  color: #fff;
}
a {
  color: #fff;
}
div.col-12.col-md-6.col-lg-4.text-left {
  margin-bottom: 5px;
}
div.formations.col-12.col-md-6.col-lg-4.text-left {
  padding: 0;
  margin-bottom: 8px;
}
.container-fluid {
  padding: 0 10px;
}
/*Card*/
#user2 {
  padding: 0;
}
#user.panel-thumb, #user2.panel-thumb {
margin: 5px 0;
text-align:center;
	}
#user .panel-thumb .avatar-card > img,
#user2 .panel-thumb .avatar-card > img,{
	max-width:200px;
	max-height:200px;
	}
.card {
  margin-bottom: 5px;
  border-radius: 10%;
}
